*{
    font-family: 'Quicksand', sans-serif;
}
h1{
    font-size: 45px;
    background-color: rgb(6, 133, 12);
    display: flex;
    justify-content: center;
    align-items: center;
}
input{
    width: 250px;
}
#searchBnt{
    background-color: rgb(49, 159, 233);

}

button{
    margin-top: 7px;
    width: 260px;
    background-color: gray;
    border-radius: 7px;
    align-items: center;
    justify-content: center;
}
#searchBox{
    margin-right: 5px;
    font-size: 30px;
    max-width: 265px;
    height: 100%;
    display: block;
    padding: 7px;
    margin-left: 20px;

}
.bold{
 font-weight: 400;
}
#5dayforcast{
    display: flex;
    flex-direction: row;
}
#weathertext{
    margin-top: 10px;
    width: 265px;
    border-top:solid;
    border-color:black;
}
.weatherBlock, img{
    padding-right:30px;
}
.weatherBlock{
    display: inline-flex;
    flex-direction: row;
    margin: 20px;
    flex-wrap: wrap;
    height: 300px;
    width: 200px;
    color:antiquewhite;
    background-color: rgb(34, 33, 33);
    font-size: 15px;
}
#currentDay{
    border: solid;
    border-color: rgb(19, 57, 224);
}